
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color:#1E3549;
    font-family: Roboto, sans-serif;
    margin-top: 4vw;
    
}

.img-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 4vw 0;
}
.img-div {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-div h2 {
    font-size: 2vw;
}
.img-div p {
    font-weight: 300;
    font-size: 1.5vw;
    margin: 0;
}
.content-section h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
}

.profile-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-left: 5vw;
}
.profile-container img{
    width: 20vw;
}

.profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
    width: 65%;
    margin-top: 5vw;
}

.center {
    margin: 4vw auto;
}
.client-grid {
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.client-grid img {
    object-fit: contain;
    width: 13vw;
    height: 7vw;
    justify-self: center;
    margin-bottom: 5vw;
}

.cv-btn {
    margin: 2vw;
    border: 1px solid black;
    width: 20vw;
    border-radius: 30px;
    padding: 1%;
    cursor: pointer;
    
}

.cv-btn:hover {
    background-color: #f7f7f7;
}

@media screen and (max-width: 900px) {
    .img-container {
        flex-direction: column;
        align-items: center;
    }
    .img-div {
        width: 90vw;
    }
    .img-div h2 {
        font-size: 8vw;
        margin: 0;
    }
    .img-div img {
        width: 30%;
    }
    .img-div p {
        font-size: 4.7vw;
        margin-bottom: 10vw;
    }
    .profile-container {
        flex-direction: column;
        align-items: center;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    .profile-container img {
        width: 65%;
    }
    .profile-text {
        width: 90%;
        font-size: 4vw;
    }
    .cv-btn {
        width: 100%;
        padding: 10%;
        position: relative;
        right: 15%;
    }
    .client-grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 10vw;
        row-gap: 10vw;;
    }
    .client-grid img {
        width: 24vw;
        height: 15vw;
    }
 }