a {
    color: inherit;
    text-decoration: none;
}

.contact-div {
    width: 100%;
    height: 31.5vw;
    background-size: 100% 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.sub-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-div h1 {
    font-family: Roboto, sans-serif;
    font-size: 5vw;
    font-weight: 400;
    margin: 1vw;
}

.contact {
    color: white;
    display: flex;
    width: 30vw;
    font-size: 2vw;
    margin: 0.5vw;
    margin-left: 8vw;
}



.icon {
    margin-right: 2vw;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}

.icon-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1vw auto;
    margin-bottom: 3vw;
    width: 15vw;

}

@media screen and (max-width: 900px) {
    .contact-div {
        height: 65.5vw;
    }
    .contact-div h1{
        font-size: 10vw;
    }
    
    .contact {
        font-size: 5vw;
        width: 60vw;
    }
    .contact .text{
        /* display: none; */
    }
    .icon {
        width: 7vw !important;
        height: 7vw !important;
        margin: unset;
    }
    .icon-div {
        width: 65vw;
        margin-bottom: 20vw;
    }
}