@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.top-section {
    height: 100vh;
    width: 100%;
    background-color: #1E3549;
    background-size: 100% 100%;
    display: flex;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.column-div {
    position: relative;
    color: #9E9E9E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 1.55vw;
    /* font-family: Roboto; */
    letter-spacing: 0.1vw;
    
}

.column-div img {
    position: absolute;
    z-index: 99;
    align-self: flex-start;
    object-fit: cover;
    width: 30%;
    width: 30%;
    left: 6vw;
    top: 3vw;
    opacity: 0;
    animation: fadeIn 1.5s ease;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.column-div h1 {
    font-weight: 400;
    align-self: flex-end;
    margin-top: 15vh;
    margin-left: 10vw;
    animation: fadeIn 1.5s ease;
    animation-delay: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-size: 3.7vw;
}
.column-div span {
    font-size: 6vw;
    /* font-family: Roboto; */
    
    font-weight: 400;
}
.column-div .white {
    color: white;
    font-weight: 500;
}

.cone {
    position: absolute;
    bottom: -5%;
    right: 16%;
    animation: hingeAni 3s linear;
    width: 39vw;
    height: 49vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


@keyframes hingeAni {
    0%,100% { 
       transform: rotate(0); 
       transform-origin: bottom right; 
       animation-timing-function: ease-in-out; 
    }
    20%, 60% { 
       transform: rotate(20deg) translateY(10%); 
       transform-origin: bottom right; 
       animation-timing-function: ease-in-out; 
    }
    40%,80% { 
       transform: rotate(-10deg); 
       transform-origin: bottom right; 
       animation-timing-function: ease-in-out;
    }


 }

 @keyframes fadeIn {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }

 @media screen and (max-width: 900px) {
     .top-section {
         flex-direction: column;
     }
     .column-div {
         width: 100%;
     }
     .column-div h1 {
         align-self: unset;
         font-size: 10vw;
     }
     .column-div span {
        font-size: 16vw;
     }
    .cone {
        right: 18%;
        bottom: 0;
        width: 46vw;
        height: 100vw;
        position: absolute;
    }
    .column-div img {
        left: 24%;
        top: 4%;
        width: 50%;
    }
  }